 <p class="catch-copy">
  何を買えばいいか、迷う日もある。<br>  
  献立より、まず“買い物”のハードルが高かったりして。  <br>
そんな毎日に、小さなヒントと、ちょっとの余白を。  <br>
あなたの冷蔵庫と、ちゃんと向き合うための買い出しを、一緒に。<br>
</p>
  <div class="top-buttons">
   <%= link_to "カレンダーを見る", reservations_path, class: "top-button" %>
    <% if current_user %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
        <% else %>
        <li> <%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    
  </div>